@media only screen and (min-width : 320px) and (max-width : 568px) {
	
}
@media only screen and (max-width : 568px) and (orientation : landscape) {
	
}
	@media only screen and (max-width : 918px) {
	#body {
		margin: 0;
		min-height: 1175px;
		padding: 0;
		width: 100%;
		z-index: 3;
	}
	#body .header div ul, #body .header div .article ul, #body .header div .sidebar ul {
		max-width: none;
		padding: 0;
		width: 100%;
	}
	#body .header div ul li a, #body .header div .article ul li a, #body .header div .sidebar ul li a, #body .header div .sidebar ul li ul li a {
		float: none;
		height: auto;
		margin: 0 auto;
		width: auto;
	}
	#body .header div ul li div, #body .header div .article, #body .header div .sidebar {
		float: none;
		margin: 0;
		padding: 10% 0;
		width: 100%;
	}
	#body .header div form{
		width: 100%;
	}
	#body .header div form input, #body .header div form textarea {
		-webkit-appearance: none;
		border-radius: 0;
		margin: 0 auto 10%;
		width: 90%;
	}
	#body .header div form input#submit{
		-webkit-appearance: none;
		border-radius: 0;
		float: none;
		margin: 0 auto;
	}
}
@media only screen and (max-width : 1060px) {
	body #page {
		margin: 0;
		padding: 0;
		width: auto;
	}
	html {
		-webkit-text-size-adjust: none;
	}
	img {
		max-width: 100%;
	}
	body #page {
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: auto;
	}
	#header {
		min-height: 60px;
		width: 100%;
	}
	#header div {
		margin: 0 auto;
		max-width: none;
		min-height: 60px;
		width: 95%;
	}
	#header div a.logo {
		display: block;
		float: left;
		height: 60px;
		margin: 0 0 0;
		padding: 0;
		width: 79%;
	}
	#picture video {
		display: block;
		margin: 0 auto;
		padding: 3px 0 0;
		width: 70%;
	}
	#picture img {
		display: block;
		margin: 0 auto;
		padding: 3px 0 0;
		width: 70%;
	}
	#picture h1 {
		font-size: 25px;
		font-family: 微軟正黑體;
		color: #e0e0e0;
		text-align: center;
	}
	#header div span#mobile-navigation {
		background: transparent url("../image&video/mobile-menu.png") no-repeat;
		display: block;
		height: 50px;
		margin: 0;
		padding: 0 0 0 0;
		position: absolute;
		right: 4%;
		top: 15px;
		width: 50px;
		z-index: 999;
	}
	#header div > ul#navigation {
		background-image: none;
		background: rgba(98, 0, 49, 0.91);
		border: 1px solid #f1f2f2;
		border-radius: 0;
		display: none;
		float: none;
		height: auto;
		padding: 0;
		position: absolute;
		right: 3%;
		top: 64px;
		width: 92%;
		z-index: 1000;
	}
	#header div > ul#navigation > li {
		border-left: 0;
		border-top: 1px solid #f1f2f2;
		margin: 0;
		height: auto;
		padding: 0;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#header div > ul#navigation > li:first-child {
		border-top: 0;
	}
	#header div > ul#navigation > li:hover {
		background-color: transparent;
	}
	#header div ul#navigation li a {
		border: none;
		color: #eeeced;
		display: block;
		font-family: Arial;
		font-size: 1.125em;
		font-weight: normal;
		height: 3em;
		line-height: 3.125em;
		min-height: 54px;
		padding: 0 10px;
		text-align: left;
		text-decoration: none;
		text-shadow: none;
		width: auto;
	}
	#header div .mobile-submenu {
		background: rgba(98, 0, 49, 0.91) url("../image&video/mobile-expand.png") no-repeat center;
		border-left: 1px solid #f1f2f2;
		display: inline-block;
		height: 3.4em;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		z-index: 0;
	}
	#header div ul#navigation li ul {
		background: none;
		border-top: 1px solid #f1f2f2;
		padding: 0;
		position: static;
		right: 0;
		text-align: left;
		width: 100%;
		z-index: 999;
	}
	#header div ul#navigation li ul, #header div ul#navigation li:hover ul {
		display: none;
	}
	#header div ul#navigation li {
		height: auto;
		width: 100%;
		z-index: 40;
	}
	#header div ul#navigation li ul li {
		background: rgba(98, 0, 49, 0.91);
		border-top: 1px solid #f1f2f2;
		display: block;
		height: auto;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	#header div ul#navigation li ul li:first-child {
		border: none;
	}
	#header div ul#navigation li ul li a {
		background: rgba(98, 0, 49, 0.91);
		color: #eeeced;
		padding-left: 20px;
		text-align: left;
		text-decoration: none;
		width: auto;
	}
	#header div ul#navigation li:hover a, #header div ul#navigation li.selected a, #header div ul#navigation li:hover ul li a, #header div ul#navigation li:hover ul li a:hover, #header div ul#navigation li ul li.selected a {
		display: block;
	}
	#header div ul#navigation li.selected > a {
		background: rgba(0, 0, 0, 0.91);
		color: #eeeced;
		text-decoration: none;
	}
	#header div ul li.selected a, #header div ul li.selected a:hover, #header div ul li.menu ul#selected li.selected a {
		color: #eeeced;
		text-decoration: none;
	}
}