body {
	background-color: black;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
#nav_background {
	background: url("../image&video/nav.jpg");
	margin: 0;
	padding: 0;
	width: auto;
	height: 80px;
}
#header {
	background: url("../image&video/nav-float.png") repeat;
	margin: 0;
	min-height: 60px;
	padding: 0;
	width: auto;
	height: 80px;
}
#header div {
	margin: 0 auto;
	max-width: 1050px;
	min-height: 60px;
	padding: 0 10px;
}
#header div a.logo {
	display: block;
	float: left;
	height: 60px;
	margin: 0 44px 0 0;
	padding: 0;
	width: 304px;
}
#header div a img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	display: block;
	font-size: 25px;
	font-family: 微軟正黑體;
	line-height: 52px;
    padding: 15px 25px;
	margin: 0;
 /* *padding: 0 23px; Needed for IE8 and old versions */
	text-align: center;
	text-decoration: none;
}
#header div ul li a:hover {
	background-color: #620031;
	color: #ffffff;
	height: 50px;
}
#header div ul li.selected a {
	background-color: #000000;
	color: #e3e3e3ee;
	height: 50px;
}
#iframe {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}
#picture video {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}
#picture img {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}
#picture h1 {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	text-align: center;
}
#exchange {
	background-color: white;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
table {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
	padding: 20px;
	margin-left:auto; 
	margin-right:auto;
}
#ETF_td{
	 writing-mode: vertical-lr; 
	/* -webkit-transform: rotate(90deg);   */
	text-orientation: upright;
	padding: 0px;
	text-align: center;
}
th {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}
td {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}