body {
	background-color: black;
	/* background: url("welcome.jpg") no-repeat scroll center top #000000; */
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
div{
	background: url("nav.jpg");
}
nav{
	overflow: hidden;
	background: url("nav-float.png") ;
}
nav #float-nav{
	position: relative;
    left: 50%;
    float: left;
	list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav ul li{
	float: left;
	position: relative;
    right: 50%;
}
nav ul li a {
    color: white; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 25px;
	font-family: 微軟正黑體;
	line-height: 45px;
    padding: 15px 25px;
    text-decoration: none; /* 移除超連結底線 */
}
nav ul li a:hover {
    background-color: #630036;
    color: white;
}
nav ul li.selected a {
	background-color: black;
    color: #e3e3e3ee;
}



footer {
	position: absolute;
	top: 20px;
	right: 10px;
	font-family: 微軟正黑體;
	font-size: 18px;
	color: #ffffff;
}

#iframe {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}