body {
	background-color: black;
	/* background: url("welcome.jpg") no-repeat scroll center top #000000; */
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#exchange {
	background-color: white;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#nav {
	background: url("nav.jpg");
}
nav{
	overflow: hidden;
	background: url("nav-float.png") ;
}
nav #float-nav{
	position: relative;
    left: 50%;
    float: left;
	list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav ul li{
	float: left;
	position: relative;
    right: 50%;
}
nav ul li a {
    color: white; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 25px;
	font-family: 微軟正黑體;
	line-height: 45px;
    padding: 15px 25px;
    text-decoration: none; /* 移除超連結底線 */
}
nav ul li a:hover {
    background-color: #630036;
    color: white;
}
nav ul li.selected a {
	background-color: black;
    color: #e3e3e3ee;
}



footer {
	position: absolute;
	top: 20px;
	right: 10px;
	font-family: 微軟正黑體;
	font-size: 18px;
	color: #ffffff;
}

#iframe {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#picture video {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}

#picture img {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}

#picture h1 {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	text-align: center;
}

table {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
	padding: 20px;
	margin-left:auto; 
	margin-right:auto;
}
#ETF_td{
	 writing-mode: vertical-lr; 
	-webkit-transform: rotate(90deg);  
	text-orientation: upright;
	padding: 0px;
}
th {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}

td {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}