body {
	background-color: black;
	/* background: url("welcome.jpg") no-repeat scroll center top #000000; */
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#exchange {
	background-color: white;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#nav {
	background: url("nav.jpg");
}
nav{
	overflow: hidden;
	background: url("nav-float.png") ;
}
nav #float-nav{
	position: relative;
    left: 50%;
    float: left;
	list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav ul li{
	float: left;
	position: relative;
    right: 50%;
}
nav ul li a {
    color: white; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 25px;
	font-family: 微軟正黑體;
	line-height: 45px;
    padding: 15px 25px;
    text-decoration: none; /* 移除超連結底線 */
}
nav ul li a:hover {
    background-color: #630036;
    color: white;
}
nav ul li.selected a {
	background-color: black;
    color: #e3e3e3ee;
}



footer {
	position: absolute;
	top: 20px;
	right: 10px;
	font-family: 微軟正黑體;
	font-size: 18px;
	color: #ffffff;
}

#iframe {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#picture video {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}

#picture img {
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}

#picture h1 {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	text-align: center;
}

table {
	font-size: 35px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
	padding: 20px;
	margin-left:auto; 
	margin-right:auto;
}
#ETF_td{
	 writing-mode: vertical-lr; 
	-webkit-transform: rotate(90deg);  
	text-orientation: upright;
	padding: 0px;
}
th {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}

td {
	font-size: 30px;
	font-family: 微軟正黑體;
	color: #e0e0e0;
	padding: 20px;
	border-collapse: collapse;
	border-style: solid;
	border-color: rgb(61, 45, 79);
	border-width: 8px;
}

/* @media only screen and (max-width : 1200px) {
	#nav nav span#mobile-navigation {
		background: url(mobile-menu.png) no-repeat;
		display: block;
		height: 50px;
		margin: 0;
		padding: 0 0 0 0;
		position: absolute;
		right: 3%;
		top: 5px;
		width: 50px;
		z-index: 999;
	}
	#nav nav > ul#float-nav {
		background-image: none;
		background: rgba(98, 0, 49, 0.91);
		border: 1px solid #f1f2f2;
		border-radius: 0;
		display: none;
		float: none;
		height: auto;
		padding: 0;
		position: absolute;
		right: 3%;
		top: 64px;
		width: 92%;
		z-index: 1000;
	}
	#nav nav > ul#float-nav > li {
		border-left: 0;
		border-top: 1px solid #f1f2f2;
		margin: 0;
		height: auto;
		padding: 0;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#nav nav > ul#float-nav li a {
		border: none;
		color: #eeeced;
		display: block;
		font-family: Arial;
		font-size: 1.125em;
		font-weight: normal;
		height: 3em;
		line-height: 3.125em;
		min-height: 54px;
		padding: 0 10px;
		text-align: left;
		text-decoration: none;
		text-shadow: none;
		width: auto;
	}
} */


@media (min-width: 100px) and (max-width: 600px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 11px;
		font-family: 微軟正黑體;
		line-height: 15px;
		padding: 10px 12px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 13px;
		right: 3px;
		font-family: 微軟正黑體;
		font-size: 7px;
		color: #ffffff;
	}
}

@media (min-width: 600px) and (max-width: 800px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 13px;
		font-family: 微軟正黑體;
		line-height: 11px;
		padding: 15px 15px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 16px;
		right: 3px;
		font-family: 微軟正黑體;
		font-size: 8px;
		color: #ffffff;
	}
}

@media (min-width: 800px) and (max-width: 900px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 16px;
		font-family: 微軟正黑體;
		line-height: 20px;
		padding: 15px 19px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 20px;
		right: 5px;
		font-family: 微軟正黑體;
		font-size: 10px;
		color: #ffffff;
	}
}

@media (min-width: 900px) and (max-width: 1100px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 18px;
		font-family: 微軟正黑體;
		line-height: 25px;
		padding: 15px 20px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 22px;
		right: 5px;
		font-family: 微軟正黑體;
		font-size: 10px;
		color: #ffffff;
	}
}

@media (min-width: 1100px) and (max-width: 1300px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 22px;
		font-family: 微軟正黑體;
		line-height: 30px;
		padding: 14px 25px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 20px;
		right: 5px;
		font-family: 微軟正黑體;
		font-size: 13px;
		color: #ffffff;
	}
}

@media (min-width: 1300px) and (max-width: 1500px){   
	nav ul li a {
		color: white; /* 移除超連結顏色 */
		display: block; /* 讓 <a> 填滿 <li> */
		font-size: 25px;
		font-family: 微軟正黑體;
		line-height: 38px;
		padding: 15px 25px;
		text-decoration: none; /* 移除超連結底線 */
	}
	footer {
		position: absolute;
		top: 15px;
		right: 10px;
		font-family: 微軟正黑體;
		font-size: 18px;
		color: #ffffff;
	}
}